name: Push

on: ["push"]

env:
  CARGO_TERM_COLOR: always

jobs:
  Test:
    runs-on: "ubuntu-latest"
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install nightly
        uses: dtolnay/rust-toolchain@nightly
        id: toolchain
      - name: Override default toolchain
        run: rustup override set ${{steps.toolchain.outputs.name}}
      - name: Cache
        uses: Swatinem/rust-cache@v2
      - name: Test
        run: cargo test --workspace --verbose --all-features --no-fail-fast
